@model IEnumerable<EducationalServices.Models.RoomBooking>

<h2>My Room Bookings</h2>

<table class="table">
    <tr>
        <th>Room</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Action</th>
    </tr>
    @foreach (var booking in Model)
    {
        <tr>
            <td>@booking.Room.RoomName</td>
            <td>@booking.StartTime</td>
            <td>@booking.EndTime</td>
            <td>
                @using (Html.BeginForm("ExtendBooking", "Room", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@booking.RoomBookingId" />
                    <input type="number" name="extensionMinutes" placeholder="Minutes" min="15" step="15" />
                    <button type="submit" class="btn btn-warning">Extend</button>
                }
            </td>
        </tr>
    }
</table>
