@model IEnumerable<EducationalServices.Models.Orders>
@using EducationalServices.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Orders";

}

@*<h2>Orders</h2>
      @if (TempData["Success"] != null)
      {
    <a class="btn btn-success btn-block btn-lg">@TempData["Success"]</a>
          TempData["Success"] = null;
      }
    <table class="table">
        <tr>
            <th>
                Order Numder
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    # @item.OrderId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.ActionLink("Order Details", "OrderDetails", new { OrderId = item.OrderId })
                </td>
            </tr>
        }

    </table>*@



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>

@foreach (var item in Model)
{
    <div class="container">
        <div class="main-body">
            <div class="row">

                <div class="col-lg-8">

                    <div class="card mt-4">
                        <div class="card-body p-0 table-responsive">
                            <h4 class="p-3 mb-0">Order: @item.OrderId &nbsp; Date: @item.OrderDate.ToLongDateString() </h4>
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col"></th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var products = db.OrderDetails.Where(x => x.OrderId == item.OrderId).ToList();
                                    }

                                    @foreach (var prod in products)
                                    {
                                        <tr>

                                            <th>
                                                <img src="data:image;base64,@prod.Picture"
                                                     alt="product" class="" width="80">
                                            </th>
                                            <td>
                                                @prod.Name
                                            </td>
                                            <td>@prod.StockQuantity</td>
                                            <td><strong>@prod.Price.ToString("R0.00")</strong></td>

                                            <td><span class="badge badge-warning">@prod.Weight</span></td>

                                        </tr>
                                    }
                                <tr>
                                    <th colspan="2">
                                        <span>Due: @item.DueDate</span>
                                        @if (item.Status == "Placed")
                                        {
                                            <span class="badge badge-success">PENDING</span>
                                        }

                                    </th>
                                    <td>
                                        <span class="text-muted">Product Cost</span>
                                        <strong>@item.ProductCost.ToString("R0.00")</strong>
                                    </td>
                                    <td>
                                        <span class="text-muted">Delivery Fee</span>
                                        <strong>@item.DeliveryFee.ToString("R0.00")</strong>
                                    </td>
                                    <td>

                                        <span class="text-muted">Total</span>
                                        <strong>@item.TotalAmount.ToString("R0.00")</strong>
                                    </td>
                                    <td>

                                        <button class="btn btn-outline-dark" style="margin-left: 5px;" onclick="location.href='@Url.Action(actionName: "Index", controllerName: "Drivers", routeValues: new {orderId = item.OrderId })'">Schedule Delivery</button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>

